* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

.head {
    position: fixed;
    top: 0;
    z-index: 50;
}

.head::before {
    content: '';
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 9;
}

.header {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 4rem;
    width: 100vw;
}


.logo {
    width: 30%;
    z-index: 10;
    margin: 0;
}

.img_logo {
    margin: 0;
    margin-left: 2rem;
    width: 60%;
    min-width: 200px;
}

.navbar {
    width: 60%;
    margin: 0;
    width: 100vw;
}

.navbar ul {
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    position: relative;
    z-index: 9;
    padding-right: 2rem;
}

.navbar li {
    display: inline;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #000;
    margin: 0 1rem;
}

.navbar a:active {
    font-weight: 650;
    color: #4d4d4d;
}

.navbar a:hover {
    text-decoration: underline;
}

.header_burger {
    display: none;
}

.header_burger.active::before {
    transform: rotate(45deg);
    top: 8px;
}

.header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
}

.header_burger.active span {
    transform: scale(0);
}

.cart{
    position: fixed;
    cursor: pointer;
    right: 50px;
    display: none;
    top: 50px;
    width: 60px;
    height: 60px;
    background-color: #ff8800;
    z-index: 50;
    border-radius: 100%;
}
.cart-img{
    align-self: center;
    width: 40px;
}

.cart-num{
    font-size: 14px;
    position: absolute;
    background-color: #fff700;
    padding: 3px 3px;
    right: -6px;
    bottom: -6px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.preview{
    background-size: cover;
    background: linear-gradient(rgba(24, 27, 30, 0.5), rgba(6, 6, 6, 0.493)), url("../images/coffeePrev.jpeg");
    height: 40rem;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prebutton{
    text-decoration: none;
    border-radius: 15px;
    background-color: #ffbf0f;
    color: #000;
    line-height: 1.55;
    padding: 15px 10px;
    font-weight: 600;
}

.prewrapper{
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 0 20%;
}

.prewrapper *:not(:last-child){
    margin-bottom: 50px;
}

.text{
    margin-top: 4rem;
    color: #fff;
    font-size: 42px;
}

.text1{
    color: #fff;
    font-size: 22px;
}

.item{
    position: relative;
    max-width: 25%;
    max-height:max-content;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.item img{
    max-width: 80%;
    max-height: 60%;
}

.prname{
    color: #383838;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.prdesc{
    color: #000;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 300;
}
.item *:not(:last-child){
    margin-bottom: 10px;
}
.prprice{
    color: #000000;
    font-size: 23px;
    padding-bottom: 150px;
    font-weight: 600;
}



#weight{
    width: 60%;
}

.prsub{
    color: #000000;
    background-color: #ff9e1f;
    height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.prform{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.magazine{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
}

.mlabel{
    color: #383838;
    font-weight: 600;
    text-align: center;
    margin: 40px auto;
    font-size: 32px;
}



.main{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    overflow-y: auto;
    justify-content: center;
    z-index: 100;
    /* backdrop-filter: blur (7px); */
    background: rgba(0, 0,0, 0.2) ;
}

.mainb{
    width: inherit;
    height: 100vh;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 101;
}

.cartm{
    width: 100%;
    max-width: 580px;
    z-index: 102;
    height: fit-content;
    padding: 40px 20px;
    display: block;
    margin-top: 40px;
    /* display: flex; */
    /* margin: 100px 350px; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #fff;
}

.product{
    display: flex;
    width: 90%;
    height: fit-content;
    vertical-align: middle;
    justify-content:space-between;
    padding: 25px 30px;
    margin-top: 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}


.increase, .decrease,.delete{
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.count, .sum{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.sum button{
    margin-left: 25px;
}

.product img{
    padding-right: 25px;
}

.product-name{
    display: inline;
    padding-right: 100px;
}

.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.data{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.main select, .main textarea{
    width: 90%;
    height: 50px;
    border: 1px solid orange;
    border-radius: 15px;
    display: block;
    margin: 10px 0;
    padding: 0 10px;
}

.address, .method{
    display: block;
    margin: 15px 0;
}

.address input, .method input{
    margin: 10px 0;
}

.address label, .method label{
    padding-left: 10px;
}

.main textarea{
    height: 70px;
}

.method{
    width: 100%;
    height: 200px;
}

.order{
    width: 50%;
    height: 50px;
    padding: 0 auto;
    margin: 15px auto;
    cursor: pointer;
    background-color: orange;
    color: #000;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}




footer {
    background-color: #000;
    display: flex;
    align-items: center;
    height: 50px;
}

footer li {
    display: inline;
    margin: 0;
    margin: 0 1rem;
}

footer a {
    text-decoration: none;
    color: #fff;
}


@media (max-width: 960px) {
    .item{
        max-width: 50%;
    }

    body.lock {
        overflow: hidden;
    }

    .head::before {
        background-color: #000;
    }

    .img_logo {
        border: 2px solid #fff;
    }

    .header_burger {
        display: block;
        position: absolute;
        right: 4rem;
        width: 30px;
        height: 20px;
        z-index: 10;
    }

    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2.5px;
        left: 0;
        transition: all 0.3s ease-out;

    }

    .header_burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2.5px;
        top: 8px;
        transition: all 0.2s ease-out;
    }

    .header_burger::before {
        top: 0
    }

    .header_burger::after {
        bottom: 0;
    }

    .navbar {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 9rem 0 0 0;
        text-align: center;
        transition: all 0.2s ease-out;
    }

    .navbar.active {
        top: 0;
        overflow: auto;
    }

    .navbar ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .navbar li {
        margin-bottom: 1rem;
    }

    .navbar a {
        font-size: 20px;
    }


 
}