* {
    margin: 0 auto;
    font-family: 'Exo 2', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.head {
    position: fixed;
    top: 0;
    z-index: 50;
}

.head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 2;
}

.header {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 4rem;
    width: 100vw;
}

.logo {
    width: 30%;
    z-index: 3;
    margin: 0;

}

.img_logo {
    margin: 0;
    margin-left: 2rem;
    width: 60%;
    min-width: 200px;
}

.navbar {
    width: 100%;
    margin: 0;

    padding-right: 2rem;
}

.navbar ul {
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    width: 90%;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    padding-right: 2rem;
}

.navbar ul {
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #000;
    margin: 0 1rem;
}

.navbar a:active {
    font-weight: 650;
    color: #4d4d4d;
}

.navbar a:hover {
    text-decoration: underline;

}

.header_burger {
    display: none;
}


.header_burger.active::before {
    transform: rotate(45deg);
    top: 8px;
}

.header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;


}

.header_burger.active span {
    transform: scale(0);

}

.container {
    margin-top: 4rem;
    min-height: 84.6vh;
    display: flex;
    align-items: center;
}

.contacts {
    width: 50%;
    padding-left: 6rem;

}

.map {
    width: 50%;
}

.location {
    width: 550px;
    height: 350px;
    border: 0;
}

h2 {
    margin-bottom: 2rem;
}

footer {
    background-color: #000;
    display: flex;
    align-items: center;
    height: 50px;
}

footer li {
    display: inline;
    margin: 0;
    margin: 0 1rem;
}

footer a {
    text-decoration: none;
    color: #fff;
}


@media (max-width: 1200px) {
    .container {
        width: 900px;
    }

    .contacts {
        padding: 0;
    }

    .location {
        width: 450px;
        height: 300px;
    }
}

@media (max-width: 960px) {

    body.lock {
        overflow: hidden;
    }

    .head::before {
        background-color: #000;
    }

    .img_logo {
        border: 2px solid #fff;
    }


    .header_burger {
        display: block;
        position: absolute;
        right: 4rem;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2.5px;
        left: 0;
        transition: all 0.3s ease-out;

    }

    .header_burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2.5px;
        top: 8px;
        transition: all 0.2s ease-out;

    }

    .header_burger::before {
        top: 0
    }

    .header_burger::after {
        bottom: 0;
    }

    .navbar {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 9rem 0 0 0;
        text-align: center;
        transition: all 0.2s ease-out;

    }

    .navbar.active {
        top: 0;
        overflow: auto;

    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin-bottom: 1rem;
    }

    .navbar a {
        font-size: 20px;
    }

    .container {
        flex-direction: column;
        width: 100vw;
    }

    .container > * {
        margin: 2rem 0 2rem 0;
    }

}

@media (max-width: 656px){
    .location {
        width: 280px;
        height: 200px;
    }
}


