* {
    margin: 0 auto;
    font-family: 'Exo 2', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.head {
    position: fixed;
    top: 0;
    z-index: 50;
}

.head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;

}

.header {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 4rem;
    width: 100vw;
}

.logo {
    width: 30%;
    z-index: 3;
    margin: 0;
}

.img_logo {
    margin: 0;
    margin-left: 2rem;
    width: 60%;
    min-width: 200px;
}

.navbar {
    margin: 0;
    width: 80%;
}

.navbar ul {
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    padding-right: 2rem;
}

.navbar li {
    display: inline;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #000;
    margin: 0 1rem;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a:active {
    font-weight: 650;
    color: #4d4d4d;
}

.header_burger {
    display: none;
}

.header_burger.active::before {
    transform: rotate(45deg);
    top: 8px;
}

.header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
}

.header_burger.active span {
    transform: scale(0);
}

.title_div {
    margin-top: 4rem;
    height: 91vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(33, 99, 111, 0.5), rgba(6, 6, 6, 0.1)), url("../images/coffee-machine.jpg");
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-size: 36px;
    text-align: center;
}

#txt1 {
    position: relative;
    top:150px;
    opacity: 0;
}

#txt2 {
    position: relative;
    top:150px;
    opacity: 0;
}

.our_devices {
    background-color: #ededed;
}

.wrapper {
    max-width: 1100px;
    background-color: #fff;
}

/* add query to wrapper width */

.wrapper:first-child {
    padding-top: 3rem;
}

.devs {
    display: flex;
}

.description {
    text-align: center;
    color: #4d4d4d;
    font-weight: 200;
    width: 60%;
}

.desc_wrap {
    width: 60%;
}

.dev {
    width: 40%;
}

.desc_wrap>* {
    margin-bottom: 2rem;

}

.description h1 {
    word-wrap: break-word;
    /* width: 60%; */

}

.img_dev {
    width: 100%;
}

.more_info {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0 3rem 0;
    min-height: 50vh;
    margin-top: 6rem;
}

.more_img {
    width: 30%;
}

.more_info_desc {
    width: 50%;
}

.more_info h3 {
    font-weight: 200;
}

.more_info p {
    font-weight: 200;
}

.more_info_img {
    width: 20%;
    min-width: 150px;
}

.more_img {
    margin: 0;
}

.price {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 3rem;
    min-height: 40vh;
}

.price h1 {
    width: 85%;
    text-align: center;
}

.price_form {
    display: flex;
    margin-top: 4rem;

}

.price_form input {
    height: 50px;
    width: 300px;
    margin-right: 1rem;
    padding-left: 2rem;
}

.price input::placeholder {
    font-size: 16px;
}

.price_btn {
    height: 50px;
    background-color: #000;
    color: #fff;
    width: 150px;
    font-size: 16px;
    font-weight: 700;
}

.price_btn:active {
    transform: scale(.9);
}

.mesCard {
    width: 100%;
    height:90%;
    background-color: #62c584;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70px;
}

.price.active .dev2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev1 {
    text-align: center;
}

.dev1 > * {
    margin-bottom:2rem;
}
.price.active .dev1 {
    display: none;   
}

.message {
    display: none;
    text-align: center;
    color:#fff;
    background-color:  #f95d51;
    height: 50px;
    width: 100%;
}

.message p {
    padding: .8rem;;
}

.dev2 {
    width: 80%;
    height: 150px;
    display: none;
}

footer {
    background-color: #000;
    display: flex;
    align-items: center;
    height: 50px;
}

footer li {
    display: inline;
    margin: 0;
    margin: 0 1rem;
}

footer a {
    text-decoration: none;
    color: #fff;
}




@media (max-width:960px) {


    body.lock {
        overflow: hidden;
    }

    .head::before {
        background-color: #000;
    }

    .img_logo {
        border: 2px solid #fff;
    }

    .header_burger {
        display: block;
        position: absolute;
        right: 4rem;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header_burger::before,
    .header_burger::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2.5px;
        left: 0;
        transition: all 0.3s ease-out;
        background-color: #fff;
    }

    .header_burger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2.5px;
        top: 8px;
        transition: all 0.2s ease-out;
        background-color: #fff;
    }

    .header_burger::before {
        top: 0
    }

    .header_burger::after {
        bottom: 0;
    }


    .navbar {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 9rem 0 0 0;
        text-align: center;
        transition: all 0.2s ease-out;

    }

    .navbar.active {
        top: 0;
        overflow: auto;

    }

    .navbar ul {
        flex-direction: column;
        margin: 0;
        padding: 0
    }

    .navbar li {
        margin-bottom: 1rem;
    }


    .navbar a {
        font-size: 20px;
    }

    .title_div {
        font-size: 24px;
    }

    .contain {
        width: 68%;
    }

    .wrapper {
        width: 500px;
    }

    .price_form {
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    .price input {
        width: 60%;
        margin-right: 0;
        margin-bottom: 2rem;
        padding-left: 2rem;
        margin-left: 0;
    }

    .price_btn {
        width: 65%;
        margin-bottom: 6rem;
    }

    .message {
        width: 65%;
    }
}

@media (max-width: 1180px) {
    .wrapper {
        width: 800px;
    }
}

@media (max-width: 810px) {

    .wrapper {
        width: 600px;
    }

    .devs {
        font-size: smaller;
    }

    .img_dev {
        width: 80%;
    }
}

@media (max-width: 615px) {

    .title_div {
        font-size: 18px;
    }

    .more_info {
        flex-direction: column;
    }

    .more_img {
        margin-top: 2rem;
    }

    .devs {
        flex-direction: column;
    }

    .desc_wrap {
        width: 100%;
    }

    .dev {
        width: 90%;
        display: flex;
    }

    .wrapper {
        width: 100vw;
    }

    .our_devices {
        background-color: #fff
    }

}