* {
    margin: 0 auto;
    font-family: 'Exo 2', sans-serif;
}

.head {
    position: fixed;
    top: 0;
    z-index: 50;
}

.head::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 2;
    background-color: #fff;
}

.header {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 4rem;
    width: 100vw;
}

.logo {
    width: 30%;
    z-index: 3;
    margin: 0;
}

.img_logo {
    margin: 0;
    margin-left: 2rem;
    width: 60%;
    min-width: 200px;
}

.navbar {
    width: 80%;
    margin: 0;
}

.navbar ul {
    display: flex;
    justify-content: right;
    margin-right: 2rem;
}

.navbar ul {
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    padding-right: 2rem;
}

.navbar li {
    display: inline;
    margin: 0;
}

.navbar a {
    text-decoration: none;
    color: #000;
    margin: 0 1rem;
}

.navbar a:active {
    font-weight: 650;
    color: #4d4d4d;
}

.navbar a:hover {
    text-decoration: underline;
}

.header_burger {
    display: none;
}


.header_burger.active::before {
    transform: rotate(45deg);
    top: 8px;
}

.header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
}

.header_burger.active span {
    transform: scale(0);

}

.div_title {
    margin-top: 4rem;
    min-height: 400px;
    display: flex;
    background-image: url("../images/pablo.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-attachment: fixed;
    /* back-img fixed when scroll */
    color: #000;
    font-size: 30px;
}

#txt1 {
    position: relative;
    top:100px;
    opacity: 0;
}

#txt2 {
    position: relative;
    top:100px;
    opacity: 0;
}

.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.courses {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.courses>* {
    margin-top: 2rem;

}

.cours_names {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.course {
    display: inline-flex;
    align-items: center;
    margin-bottom: 2rem;
}

.crs_img {
    width: 60px;
    border-radius: 50%;
    margin: 0;
    margin-right: 1rem;
}

.courses p {
    text-align: center;
    font-size: 18px;
}


.for_beg-profs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 5rem;
}

.for_beg-profs h1 {
    margin: 4rem 0;
    width: 85%;
}

.basics {
    display: inline-flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: left;
}

.basic {
    width: 353px;
    border-right: 2px solid #aaffa9;
}

.basic>* {
    margin-bottom: 1rem;
}

.basic:last-child {
    border: none;
}

.basic h3 {
    margin-bottom: 1.5rem;

}

.basic p {
    color: #6b6b6b;
    font-size: 14px;
}

.barista_img {
    width: 80px;
}


.learn_more {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    height: 40px;
    width: 400px;
    padding: 0 1rem;
    margin-top: 1rem;
}

input::placeholder {
    font-size: 14px;
}

select {
    height: 40px;
    width: 435px;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: #000;
    color: #fff;
    font-weight: 600;
    width: 130px;
    height: 40px;
}

/* form p {
    margin: 1rem 0 .5rem 0;
} */

form {
    display: flex;
    flex-direction: column;
}

.div1 {
    width:100%;
}

.div1 h2, .div1 p{
    text-align: center;
    margin-bottom: 1rem;
    width: 60%;
}

.div2 {
    display: none;
    width: 60%;
}

.mesCard {
    width: 100%;
    height:90%;
    background-color: #62c584;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70px;
}

.message {
    display: none;
    text-align: center;
    color:#fff;
    background-color:  #f95d51;
    min-height: 40px;
    width: 80%;
    max-width: 430px;
    margin-bottom: 2rem;
}

.message p {
    padding: .5rem;;
}

.form_field.active .message{
    display: block;

}
.form_field {
    border: 2px solid #1f5bff;
    width: 60%;
    min-width: 350px;
    height: 100%;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    padding: 5rem 0;
}


.form_field.active .div1 {
    display: none;
}

.form_field.active .div2 {
    display: flex;
}



/* .leave_num {
    text-align: center;
    margin: 2rem 0;
    width: 90%;
} */

.what_course{
    margin-top: 1.5rem;
    margin-bottom: .5rem;;
}

footer {
    background-color: #000;
    display: flex;
    align-items: center;
    height: 50px;
}

footer li {
    display: inline;
    margin: 0;
    margin: 0 1rem;
}

footer a {
    text-decoration: none;
    color: #fff;
}



@media (max-width: 960px) {

    body.lock {
        overflow: hidden;
    }

    .head::before {
        background-color: #000;
    }

    .img_logo {
        border: 2px solid #fff;
    }

    .header_burger {
        display: block;
        position: absolute;
        right: 4rem;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2.5px;
        left: 0;
        transition: all 0.3s ease-out;

    }

    .header_burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2.5px;
        top: 8px;
        transition: all 0.2s ease-out;

    }

    .header_burger::before {
        top: 0
    }

    .header_burger::after {
        bottom: 0;
    }

    .navbar {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 9rem 0 0 0;
        text-align: center;
        transition: all 0.2s ease-out;

    }

    .navbar.active {
        top: 0;
        overflow: auto;

    }

    .navbar ul {
        margin: 0;
        padding:0;
        flex-direction: column;
    }

    .navbar li {
        margin-bottom: 1rem;
    }

    .navbar a {
        font-size: 20px;
    }

    .for_beg-profs h1 {
        text-align: center;
    }
}

@media (max-width: 1060px) {
    .contain {
        font-size: 24px;
        text-align: center;
    }

    .basic {
        border-right: none;
        margin-bottom: 2rem;
        ;
    }
}

@media (max-width: 768px) {

    input {
        width: 300px;
    }

    select {
        width: 335px;
    }

    .div1 {
        text-align: center;
    }

    .contain {
        font-size: 18px;
    }


}

@media (max-width: 630px) {
    input {
        width: 250px;
    }

    select {
        width: 285px;
    }
}
